* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
    background: #2d004b;
}

h1 {
    text-align: left;
    margin-bottom: 40px;
}

.card h2 {
    font-size: 3rem;
    font-weight: 800;
    margin: 5px 0;
    line-height: 1;
}

.top-text {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0px;
}

.bottom-text {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
}

.feature-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 30px;
    margin: -5px;
    border-radius: 12px;
    color: black;
    min-height: 400px;
    text-align: left;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 1px;
}

.card:nth-child(1) {
    transform: rotate(1deg);
}

.card:nth-child(2) {
    transform: rotate(-1deg);
    margin-bottom: 3px;
}

.card:nth-child(3) {
    transform: rotate(1deg);
}
.card:hover {
    transform:  translateY(-10px) rotate(-5deg);
}

.green {
    background: #1aff01;
}

.pink {
    background: #e900b8;
}

.blue {
    background: #0189ff;
}

@media (max-width: 768px) {
    .feature-cards {
        grid-template-columns: 1fr;
    }
}