* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
    background: #2d004b;
}

h1 {
    text-align: left;
    margin-bottom: 40px;
}

.card h2 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -5px;
    margin: 5px 0px;
    line-height: 1;
}

.top-text {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: -0px;
}

.bottom-text {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0px;
}

.feature-cards {
    display: grid;
    grid-template-columns: 1fr 0.75fr 1fr;
    gap: 20px;

    max-width: 1000px;
    margin: 0 auto;
}

.card {
    padding: 30px;
    margin: -5px;
    border-radius: 12px;
    color: black;
    min-height: 400px;
    text-align: left;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1px;
    position: relative;
    overflow: hidden;
}

.card-image {
    width: 110%;
    margin-top: auto;
    margin-left: -20%;
    margin-bottom: -50px;
    display: block;
}

.card-content {
    flex-grow: 1;
} 

.card:nth-child(1) {
    transform: rotate(1deg);
}

.card:nth-child(2) {
    transform: rotate(-1deg);
    margin-bottom: 3px;
}

.card:nth-child(3) {
    transform: rotate(1deg);
}

.card:nth-child(1):hover {
    transform: translateY(-10px) rotate(-3deg);
}

.card:nth-child(2):hover {
    transform: translateY(-10px) rotate(-2deg);
}

.card:nth-child(3):hover {
    transform: translateY(-10px) rotate(3deg);
}

.green {
    background: #1aff01;
}

.pink {
    background: #e900b8;
}

.blue {
    background: #0189ff;
}

@media (max-width: 950px) {
    .feature-cards {
        grid-template-columns: 1fr;
    }
}