* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

h1 {
    text-align: left;
    margin-bottom: 40px;
}

.card h2 {
    font-size: 3rem;
    font-weight: 800;
}

.feature-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 30px;
    border-radius: 12px;
    color: black;
    min-height: 400px;
    text-align: left;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.card:hover {
    transform: translateY(-15px);
}

.green {
    background: #1aff01;
}

.pink {
    background: #e900b8;
}

.blue {
    background: #0189ff;
}

@media (max-width: 768px) {
    .feature-cards {
        grid-template-columns: 1fr;
    }
}